@font-face {
  font-family: 'nourd';
  src: url('/nourd.woff2');
}

@font-face {
  font-family: 'nourd-light';
  src: url('/nourd-light.woff2');
}



html,
body {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  font-family: 'nourd-light';
  text-align: center;
}




