.page {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.alarmCont1 {
  display: flex;
  
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 20%;
}


.alarmCont2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}




.selDatesDiv {
  font-size: 10px;
  padding: 5px;
  border: 3px solid black;
  margin: 0;
  display: flex;
  justify-content: center;
}

.selDatesDiv h1 {
    font-size: 20px;

}

.selDatesDiv input {
  all: unset;
  padding: 0;
  font-size: 20px;
  text-align: center;
  width: 20vh;
}